/* -------------------- Base -------------------- */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", system-ui;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE/Edge */
}
.index-body {
    overflow: hidden;               /* Disable scrolling */

}

html::-webkit-scrollbar {
  display: none;                  /* Chrome/Safari */
}

:root {
  --color-primary: rgb(122, 122, 122);
  --color-secondary: rgb(100,100,100);
  --color-third: #4f07c2;
  --color-fourth: #721010;
}

.list-title {
  padding-top: 1rem;
  font-weight: bold;
}
.item-description {
  font-style: italic;
  padding-left: 1rem;
}

.primary-bg {
  background-color: var(--color-primary);
}

/* -------------------- Nav/Sidebar -------------------- */
.quicksand-nav-bold {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.7rem 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-primary);
  background: #fff;
  text-decoration: none;
  z-index: 10;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.quicksand-nav-bold:hover {
  color: #000;
  transform: scale(1.01);
  text-shadow: 2px 2px 2px var(--color-primary);
}
.sidebar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 2.8rem;
  width: 0;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.4rem 0 0.3rem 15rem;
  border-radius: 0 0 10px 0;
  box-shadow: 1px 1px 6px var(--color-primary);
  z-index: 1;
  transition:
    width 0.5s ease,
    height 0.5s ease,
    padding 0.3s ease,
    border-radius 0.3s ease,
    box-shadow 0.3s ease;
}
.sidebar.open {
    width: 20rem;
}

.sidebar a {
  display: block;
  padding: 12px 20px;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}
.sidebar a:hover {
    color: rgb(0, 0, 0) !important;
    transform: scale(1.001) !important;
    text-shadow: 2px 2px 2px rgb(122, 122, 122) !important;
}

@media (max-width: 555px) {
  .sidebar {
    flex-direction: column;
    width: 14rem;
    padding-left: 1rem;
    justify-content: flex-end;
  }
  .sidebar.open {
    width: 14rem;
    height: 12rem;
    border-radius: 0 0 10px 10px;
  }
  .sidebar a {
    padding: 4px 10px;
  }
}

@media (max-width: 300px) {
  .sidebar {
    width: 100%;
    padding-left: 0.5rem;
  }
  .sidebar.open {
    width: 100%;
    height: 12rem;
  }
  .sidebar a {
    padding: 4px 5px;
    font-size: 0.8rem;
  }
}



/* -------------------- Toggle Button -------------------- */
.toggle-btn {
  position: fixed;
  top: 0.95rem;
  left: 12rem;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10%;
  z-index: 10;
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

.toggle-btn:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 3px var(--color-primary);
}

/* -------------------- Social Icons -------------------- */
.social-icon {
  height: 2rem;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px var(--color-primary);
}

/* -------------------- Mainframe/Iframe -------------------- */

.mainframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}



/* -------------------- Footer -------------------- */
.cr {
    position: fixed;
    bottom: 0;
    width: 10rem;
    height: 2.5rem;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 2.5rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", sans-serif;
    color: var(--color-primary);
    z-index: 1;
    border-radius: 0px 10px 0px 0px;
    border: 1px solid var(--color-primary);
}
@media (max-width:300px) {  
    .cr {
        width: 100%;
        border-radius: 0px;
    }  
}


/* -------------------- About page -------------------- */
.about {
  max-width: 800px;
  margin: 5rem auto 0;
  margin-top: 10rem;
  padding: 3rem;
  padding-top: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 20px;

}
.about a {
  font-size: 1.05rem;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: var(--color-primary);
  text-decoration: none;
}

@media (max-width: 900px) {
  .about {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
}




.pulse-bg {
  background: #fff; /* fallback */
  background-image: linear-gradient(
    135deg,
    #828b92 0%,
    #99a8b4 16%,
    #b5cadb 33%,
    #d3ebff 50%,
    #b5cadb 66%,
    #99a8b4 83%,
    #828b92 100%);
  background-size: 300% 300%;
  animation: waveBg 10s ease-in-out infinite alternate;
  will-change: background-position box-shadow;
}

@keyframes waveBg {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}


/* -------------------- Git Basics -------------------- */
.gitbasics {
  width: 100%;
  margin: 2rem auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease, scale 0.5s ease;
  border-radius: 10px;
  
  
}

.gitbasics:hover {
  scale: 1.01;
    
}
.gitbasics-header {
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: 
  transform 0.5s ease,
  box-shadow 0.5s ease,
  border-radius 0.5s ease;
  z-index: 2;
  border: 2px solid var(--color-primary);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  box-shadow: 2px 2px 3px black;
}
.gitbasics-header:hover {
  background: rgb(100, 100, 100);
  box-shadow: 4px 4px 8px black;
}
.gitbasics-header.open {
  border-radius: 10px 10px 0px 0px; 
  box-shadow: 0px 2px 6px black;
  background-color: var(--color-secondary) !important;
}
.gitbasics-content.open {
    border: 1px solid var(--color-primary);
    max-height: 1500px; /* tillräckligt högt för att rymma innehållet */
}
.gitbasics.open{
    box-shadow: 2px 2px 6px var(--color-primary);
}
.gitbasics-content {
    position: relative;
  max-height: 0;
  margin-top: -1rem;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(100,100,100);
  transition: max-height 0.7s ease, border 0.7s ease;
  padding: 0 1rem 0 1rem;
  
}





/* -------------------- Git Category -------------------- */

/* Category grid */
.category-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-height: 2000px;               
  overflow: hidden;
  transition: max-height 0.7s ease;
  padding: 1rem;
}

.category-grid.open {
  max-height: 0px;
}


.gitcategory {
  width: 100%;
  margin: 2rem auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border-radius: 10px;
}
.gitcategory:hover {
    box-shadow: 2px 2px 6px black; 
}
/* .gitcategory.open{
    box-shadow: 2px 2px 6px var(--color-primary);
}
 */

.gitcategory-header {
  position: relative;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: 
  transform 0.3s ease,
  background-color 0.6s ease,
  box-shadow 0.3s ease,
  border-radius 0.3s ease;
  z-index: 2;
  box-shadow: 3px 3px 3px black;
  border: 1px solid var(--color-secondary);
}
.gitcategory-header:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px black;
  background: var(--color-secondary);
}
/* .gitcategory-header.open {
  border-radius: 10px 10px 0px 0px; 
  box-shadow: 0px 2px 6px var(--color-primary);
} */
.gitcategory-content {
    position: relative;
    max-height: 0;
    margin-top: -1rem;
    border-radius: 10px;
    overflow: hidden;
    border: 0px solid rgb(100,100,100);
    transition: max-height 0.3s ease, border 0.3s ease;
    padding: 0 1rem 0 1rem;
    
}/*
.gitcategory-content.open {
    border: 1px solid var(--color-primary);
    max-height: 1500px; 
} */


/* Git presenter */
.gitpresenter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
  border: #000;
  
}

.gitpresenter.open {
  max-height: 2000px;
}

.gitpresenter-header {
  position: relative;
  padding: 1rem;
  background: var(--color-primary);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 1px 3px black;
  z-index: 2;
  margin: 1rem;
}

.gitpresenter-content {
  border: #000 solid 1px;
    max-height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 3.5s ease, max-height 3.5s ease, box-shadow 3.5s ease;
    margin: 1.05rem;
    padding: 1rem;
    margin-top: -2rem;
    box-shadow: 1px 1px 3px black;
}
.gitpresenter-content.open {
    max-height: 1500px; 
    
}

.right {
    float: right;  
}



code {
    background: #636363;
    color: rgb(36, 217, 241);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    
}